@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - Simple Blog</title>
    </head>
    <body>
       <header>
           @Html.ActionLink("Home", "Index", "Posts")
           @Html.ActionLink("Login", "Login", "Auth")
       </header>

        @RenderBody()


        <footer>

        </footer>

        @RenderSection("Scripts", false)
    </body>
</html>
