@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - Simple Blog</title>
    </head>
    <body>
       <header>
           @Html.ActionLink("Home", "Index", "Posts")

           @if (User.Identity.IsAuthenticated)
           {
               <p>
                   Welcome back, @User.Identity.Name
               </p>
               if (User.IsInRole("admin"))
               {
                   @Html.ActionLink("View posts in admin", "Index", "Posts", new { area = "admin" }, null);
               }
               <a href="@Url.RouteUrl("logout")">Logout</a>
           }
           else
           {
               @Html.ActionLink("Login", "Login", "Auth")
           }

       </header>

        @RenderBody()


        <footer>

        </footer>

        @RenderSection("Scripts", false)
    </body>
</html>
